@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

:root{
    font-family: 'Poppins', sans-serif;
    --font-titles-color: #f5a155;
    --bg-color-blue: #150a2a;
    --alternative-color-pink: #c36676;

    --card-height: 300px;
    --card-width: calc(var(--card-height) / 2);
    
}

body{
    background-color: var(--bg-color-blue);
    color: white;
    width: 100vw;
    height: 100vh;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;    
}
.logo > a {
    text-decoration: none;
    color: var(--font-titles-color);
}
.logo img{
    position: relative;
    width: 40px;
    top: 10px;
}

nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}
#icon {
  transition: transform 0.3s ease-in-out;
}

#icon.ph-x {
  transform: rotate(90deg);
}

#menu{
    display: none;
}
menu{
    width: 768px;
    
}
.menu > ul {
    list-style-type: none; 
    padding: 10px;     
}

.menu > ul > li > a {
    display: block;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    color: white;
    background-color: #0A1236;
    border-top: 1px solid var(--alternative-color-pink);
    
}
.menu > ul > li > a:hover {
    background-color: #120E47;
}

i{
    width: 30px;
    text-align: center;
    color: white;
    font-size: 30px;
    cursor: pointer;
    
}
i:hover {
    color: var(--font-titles-color);
}

/* ------- Slide Area ----- */
.slideshow {
  width: 90%;
  margin: auto;
}
/* Slideshow container */
.slideshow-container {
    position: relative;
    margin: auto;
    width: 100%;
    box-shadow: 5px 10px 18px black;   
  }
  .slideshow-container img{
    aspect-ratio: 16/9;
    width: 100%; 
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    background-color: rgba(0, 0, 0, 0.342);
    color: var(--alternative-color-pink);
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Caption text */
  .text {
    background-color: rgba(0, 0, 0, 0.425);
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
    
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: var(--alternative-color-pink);
  }
  
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

  /* ---- fim dos Slide ---- */


/* ---------- Inicio dos Cards ----- */

.card {
  width: var(--card-width);
  height: var(--card-height);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 0 36px;
  perspective: 2500px;
  margin: 0 50px;
  border-radius: 10px;
}

.cover-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.wrapper {
  transition: all 0.5s;
  position: absolute;
  width: 100%;
  z-index: -1;
}

.card:hover .wrapper {
  transform: perspective(900px) translateY(-5%) rotateX(25deg) translateZ(0);
  box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
}

.wrapper::before,
.wrapper::after {
  content: "";
  opacity: 0;
  width: 100%;
  height: 80px;
  transition: all 0.5s;
  position: absolute;
  left: 0;
}
.wrapper::before {
  top: 0;
  height: 100%;
  background-image: linear-gradient(
    to top,
    transparent 46%,
    rgba(12, 13, 19, 0.5) 68%,
    rgba(12, 13, 19) 97%
  );
}
.wrapper::after {
  bottom: 0;
  opacity: 1;
  background-image: linear-gradient(
    to bottom,
    transparent 46%,
    rgba(12, 13, 19, 0.5) 68%,
    rgba(12, 13, 19) 97%
  );
}

.card:hover .wrapper::before,
.wrapper::after {
  opacity: 1;
}

.card:hover .wrapper::after {
  height: 120px;
}
.title {
  width: 120px;
  transition: transform 0.5s;
}
.card:hover .title {
  transform: translate3d(0%, -50px, 100px);
}

.character {
  width: 110%;
  height: 210px;
  opacity: 0;
  transition: all 0.5s;
  position: absolute;
  z-index: -1;
}

.card:hover .character {
  opacity: 1;
  transform: translate3d(0%, -30%, 200px);
}