@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&Roboto:wght@400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-family: "Poppins", sans-serif;
  --bg-color: #151319;
  --font-color: #f3f3f4;
  --titles-color: #dc3545;
  --highlight-color: #ff6b6b;
  --secondary: #737376;
  --secondary-light: #858688;

  --card-height: 300px;
  --card-width: calc(var(--card-height) / 2);
  --content-width: calc(100vw - 6px);
}

@media screen and (min-width: 768px) {
  body {
    width: var(--content-width);
  }

  i.ph-list,
  i.ph-x {
    display: none;
  }
  .logo {
    width: 350px;
    display: block;
    position: relative;
    margin: 0;
  }

  nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    justify-content: flex-start;
    margin: auto;
    gap: 30px;
  }

  menu {
    position: static;
  }
  menu > ul > li {
    display: inline-block;
  }

  .menu > ul > li > a {
    background-color: transparent;
    border-top: none;
    position: relative;
    transition: all 5.7ms ease;
  }
  .menu > ul > li > a:hover {
    background-color: transparent;
    color: var(--highlight-color);
  }
  .menu > ul > li > a::after {
    content: "";
    position: absolute;
    bottom: 5px;
    left: 50%;
    width: 0;
    height: 1px;
    background-color: var(--highlight-color);
    transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
  }
  .menu > ul > li > a:hover::after {
    width: 100%;
    left: 0;
  }
  /* ------ Slide ------ */
  .slideshow {
    width: var(--content-width); /* desconto da barra de rolagem lateral */
  }

  /* ------- Cards ----- */
  .cards-container {
    height: 500px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: nowrap;
    gap: 10px;
    overflow-x: scroll;
  }

  .card-content {
    width: 200px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .card-content a {
    width: 100%;
  }
  .game-info {
    justify-content: space-between;
  }

  .game-name {
    font-size: 20px;
    font-weight: 400;
    font-family: "Roboto";
  }
  .game-price {
    font-size: 18px;
  }

  .comprar {
    position: relative;
    bottom: 0;
    width: 100%;
  }

  .card {
    width: var(--card-width);
    height: 240px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    perspective: 2500px;
    border-radius: 10px;
  }

  .cover-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
  }

  .wrapper {
    transition: all 0.5s;
    position: absolute;
    width: 100%;
    z-index: -1;
  }

  .card:hover .wrapper {
    transform: perspective(900px) translateY(-5%) rotateX(25deg) translateZ(0);
    -moz-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
    box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
  }

  .wrapper::before,
  .wrapper::after {
    content: "";
    opacity: 0;
    width: 100%;
    height: 50px;
    transition: all 0.5s;
    position: absolute;
    left: 0;
  }
  .wrapper::before {
    top: 0;
    height: 100%;
    background-image: linear-gradient(
      to top,
      transparent 46%,
      rgba(12, 13, 19, 0.5) 68%,
      rgba(12, 13, 19) 97%
    );
  }
  .wrapper::after {
    bottom: 0;
    opacity: 1;
    background-image: linear-gradient(
      to bottom,
      transparent 46%,
      rgba(12, 13, 19, 0.5) 68%,
      rgba(12, 13, 19) 97%
    );
  }

  .card:hover .wrapper::before,
  .wrapper::after {
    opacity: 1;
  }

  .card:hover .wrapper::after {
    height: 120px;
  }
  .title {
    display: block;
    width: 120px;
    transition: transform 0.5s;
  }
  .card:hover .title {
    transform: translate3d(0%, -50px, 100px);
  }

  .character {
    display: block;
    width: 150px;
    aspect-ratio: 2/3;
    opacity: 0;
    transition: all 0.5s;
    position: absolute;
    z-index: -1;
  }

  .card:hover .character {
    opacity: 1;
    transform: translate3d(0%, -10%, 200px);
  }

  
  /* Estilos para navegadores WebKit (Chrome, Safari) */
  ::-webkit-scrollbar {
    width: 6px; /* Largura da barra de rolagem */
    height: 6px;
  }

  ::-webkit-scrollbar-track {
    background-color: #14141475; /* Fundo da barra de rolagem */
  }

  ::-webkit-scrollbar-thumb {
    background-color: #4b4b4bbd;
    border-radius: 20px; /* Cor da alça da barra de rolagem */
  }
}
